// ------------------ MAIN COLOR PALETTE ------------------ //

$primary-color: #ff6f61; // Meleg pirosas-narancs
$secondary-color: #ffb74d; // Baracksárga
$accent-color: #ffd54f; // Sárga
$body-bg: #ffecce; // Világos bézs háttér
$body-color: #1c1210; // Mély barna szöveg

// --------------------- GREY COLORS --------------------- //

$color-white: #ffffff;
$color-white-dark: #f9f9f9;

$color-grey: #9f9f9f;
$color-grey-light: #acacac;
$color-grey-lighter: #cecece;
$color-grey-lightest: #e8e8e8;
$color-grey-dark: #707070;
$color-grey-darker: #464646;
$color-grey-darkest: #232323;

$color-black: #000000;
$color-black-light: #101010;

// --------------------- BASIC COLORS --------------------- //

$color-red: #9f1111;
$color-green: #22c01e;
$color-blue: #60bceb;
