@import '../../../styles/colors';

.snackbar {
  z-index: 1000;
  padding: 0.8rem 0.2rem 0.8rem 0;
  color: $color-white;
  position: fixed;
  top: -20rem;
  left: 50%;
  transform: translateX(-50%);
  transition: ease-in-out 600ms;
  font-size: 0.7rem;
  max-width: 100%;
  width: auto;

  &.-show {
    top: 1rem;
  }

  &.-success {
    background-color: rgb(7, 206, 7);
  }

  &.-error {
    background-color: red;
  }

  &.-info {
    background-color: rgb(135, 135, 255);
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
  }
  &__icon-box {
    padding: 0 0.5rem;

    &.-success {
      color: $color-white;
      font-size: 0.8rem;
    }

    &.-error {
      color: $color-white;
      font-size: 0.8rem;
    }

    &.-info {
      color: $color-white;
      font-size: 1.2rem;
    }
  }
  &__icon {
    line-height: 1;
    font-size: 1.5rem;
  }
  &__text {
    text-align: center;
  }
}
